<div class="container mt-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <h4 class="text-center mb-4 text-light">Shop by Brands</h4>
      <ul class="list-group shadow-sm">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let brand of getBrands()"
          (click)="navigateToBrand(brand)"
          [class.active]="brand === brandName"
        >
          {{ brand | titlecase }}
          <span class="badge bg-primary rounded-pill">
            {{ groupedProducts[brand].length || 0 }}
          </span>
        </li>
      </ul>
    </div>

    <!-- Product Listing -->
    <div class="col-md-9">
      <h2 class="text-center mb-4 text-primary">
        <!-- Products From <span class="fw-bold">{{ brandName | titlecase }}</span> -->
      </h2>
      <div class="row g-4">
        <div *ngFor="let product of filteredProducts" class="col-md-4">
          <div class="card h-100 shadow-sm border-0">
            <img
              [src]="product.image"
              class=""
              alt="{{ product.pname }}"
              [routerLink]="['/product', product.id]"
            />
            <div class="card-body">
              <h5
                class="card-title text-truncate"
                [routerLink]="['/product', product.id]"
              >
                {{ product.pname }}
              </h5>
              <p class="card-text text-muted small">
                {{ product.description }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="text-success fw-bold">
                  {{ product.psp | currency : "INR" }}
                </span>
              </div>
              <div class="text-center mt-3">
                <a
                  [routerLink]="['/product', product.id]"
                  class="btn btn-outline-primary btn-sm"
                  >View Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
